:root{
    --crimson:#6114dc;
    }

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
    }
    *::selection{
    background:var(--crimson);
    color:#fff;
    }
    html{
    overflow-x: hidden;
    }

    /* .btn{
    cursor: pointer;
    color:var(--crimson);
    background:none;
    padding:.5rem 3rem;
    margin-top: 1rem;
    position: relative;
    z-index: 0;
    font-size: 2rem;
    border-radius: 20px;
    }
    .btn:hover{
    color:#fff;
    background:var(--crimson);
    } */
    .heading{
    display: inline-block;
    color:#333;
    margin:2rem 0;
    padding:1rem 0;
    padding-top: 8rem;
    font-size: 3rem;
    border-bottom: .2rem solid var(--crimson);
    }
    /*----------------Header----------------------*/
    header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1rem 1.5rem;
    }
    header .logo{
    font-size: 2rem;
    color:#fff;
    letter-spacing: 5px;
    font-weight: 600;
    }
    header .logo span{
    color:var(--crimson);
    }
    header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    header .navbar ul li{
    margin:0 1rem;
    }
    header .navbar ul li a{
    color:#fff;
    font-size: 1.2rem;
    }
    header .navbar ul li a.active,
    header .navbar ul li a:hover{
    color:var(--crimson);
    }
    header #menu{
    font-size: 1.5rem;
    color:var(--crimson);
    cursor: pointer;
    display: none;
    }
    header.header-active{
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    }
    header.header-active .logo,
    header.header-active .navbar a{
    color:#333;
    }
    /*-----------Home section----------*/
    .home{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(images/photo-1584863231364-2edc166de576.avif) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    }
    .home div{
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .home h1{
    font-size: 2.1rem;
    color:#fff;
    text-align: center;
    text-shadow: 0 .15rem .25rem #8f8b8b;
    padding:0 1rem;
    text-transform: uppercase;    
    }
    .home p{
    font-size: 1.2rem;
    color:#fff;
    text-align: center;
    text-shadow: 0 .3rem .5rem #a2a2a2;
    padding:0 1rem;
    text-transform: uppercase;
    }
    .home div a {
        text-align: center;
    }

    .homebtn{
        cursor: pointer;
        border:.2rem solid var(--crimson);
        color:white;
        background:var(--crimson);
        padding:.5rem 2rem;
        margin-top: 1rem;
        position: relative;
        z-index: 0;
        font-size: 1rem;
        border-radius: 20px;
      }
      .homebtn:hover{
        color:#fff;
        background:black;
        }
      

   #about{
    padding: 20px;
   }

   .about-content{
    width: 70%;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 40px;
   }

   .about-content h1{
    font-size: 40px;
    text-align: center;
   }

   .about-content p{
    font-size: 18px;
    text-align: center;
   }

   .about-content .btn{
    width: 120px;
    text-align: center;
    color:white;
    background:var(--crimson);
    font-size: bold;
    padding: 10px 0px;
    border-radius: 10px;
   }

   .about-content .btn:hover{
    background: #fff;
   }


   .about-content .btn a{
    color: white;
    font-size: bold;
   }

   .about-content .btn a:hover{
    color: #000;
   }

   .about_{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ), url("images/gym-91849_1280.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 80vh;
    background-size: cover;
}

.about_content p{
    display: flex;
    width: 90%;
    height: 80vh;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    font-style: bold;
}

#classes{
    padding: 50px;
    background-color: white;
}

#classes h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
}

.classes{
    width: 90%;
    margin: 0 auto;
}

.items_one{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items_one h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.items_one p{
    font-size: 18px;
}

#classes_two{
    padding: 50px;
    background-color: #e5e7eb;
}

.items_two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 100px;
}

.items_two h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.items_two p{
    font-size: 18px;
}


#classes_three{
    padding: 50px;
    background-color: white;
}

.items_three{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items_three h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.items_three p{
    font-size: 18px;
}

img{
 width: 90%;
}

#testimonials{
    background-color: #e5e7eb;
    padding: 40px;
}

.testimonials{
    width: 95%;
    margin: 0 auto;
}

.testimonials h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 70px;
}

.testimonials .box img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.box{
    background: white;
    padding: 30px;
    text-align: center;
    height: auto;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.9);
    transition: 0.3s;
    border-radius: 5px;

}

.box:hover {
    box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.9);
    transform: scale(1.1); 
}

.quote{
    font-size: 40px;
}

.box h2{
    padding-bottom: 30px;

}

.box p{
    font-size: 17px;

}

#contact{
    background-color: black;
    padding: 80px;
}

.contact{
    width: 90%;
    margin: 0 auto;
}

.contact h1, .pg{
    color: white;
    text-align: center;
}

.contact h1{
    margin-bottom: 20px;
    font-size: 40px;
}

.contact .pg{
    margin-bottom: 20px;
    font-size: 20px; 
    padding-bottom: 20px; 
}

.contact .flexBox{
    display: flex;
    justify-content: center;
}

.contact .flexBox .boxContact{
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px 0px 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.9);
    width: 90%;
}

form{
/* margin-left: 70px; */
}

label{
    color: white;
}

input, textarea{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    margin: 6px 0 16px 0;
    resize: vertical;
}

input[type=submit]{
    background-color: black;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}

input[type=submit]:hover {
    background-color: gold;
}


/* input, textarea{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    margin: 6px 0 16px 0;
    resize: vertical;
}

input[name="yourname"]{
    width: 40%;
    margin-right: 70px;
}

input[name="youremail"]{
    width: 40%;
}

input[type=submit]{
    background-color: black;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}

input[type=submit]:hover {
    background-color: gold;
} */

.footer{
    padding: 20px;
    background-color: #e5e7eb;
}

.footer p{
    text-align: center;
}

@media (max-width:768px){

    header .logo{
        font-weight: bolder;
        }
        header #menu{
        display: block;
        }
        header .navbar{
        position: fixed;
        top:-100rem; left: 0;
        width: 100%;
        opacity: 0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.3);
        }
        header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
        }
        header .navbar ul li{
        margin:1rem 0;
        text-align: center;
        width: 100%;
        }
        header .navbar ul li a{
        font-size: 1.5rem;
        color: #333;
        display: block;
        }
        header .navbar.nav-toggle{
        top:8rem;
        opacity: 1;
        }

        .about_content p{
            font-size: 25px;
        }

      .items_one{
        display: flex;
        flex-wrap: wrap;
      }

      .items_two{
        display: flex;
        flex-wrap: wrap;
      }

      .items_three{
        display: flex;
        flex-wrap: wrap;
      }
}

@media (max-width:510px){

    .boxContact{
        width: 100%;
    }

    input, textarea{
        width: 70%;
    }

}

@media (max-width:460px){
    input[type=submit]{
        width: 40%;
    }

}

@media (max-width:411px){
    input[type=submit]{
        width: 50%;
    }
}

@media (max-width:400px){
    input[type=submit]{
        width: 50%;
    }

}

@media (max-width:360px){
    input[type=submit]{
        width: 50%;
    }

}